extends base
include _usersListCard.pug

//- mixin follow-list(action,data)
//-     h4=action
//-     //- .list
//-     each user in data
//-         .info
//-             .profile-pic
//-             .name
//-                 p.name=user.name  
//-                 p.username=user.username 

block content
    .right
        h3 Who to Follow 
        .follow-list
            each user in users
                +usersListCard(username, user.username, user.name,'follow')
        h3 Who you Follow 
        .follow-list
            each user in followings
                +usersListCard(username, user.username, user.name,'unfollow')

                